.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}
.form > input {
    width: 100%;
}
.form > textarea {
    grid-column: 1/3;
    width: 100%;
}
.form > .btn {
    grid-column: 1/3;
    justify-self: end;
}